@model TarefaSiteEF.ViewModels.ErrorViewModel
@{
    ViewData["Title"] = "Error occured: ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-danger">@ViewData["Title"]</h2>
<h2 class="text-danger">@Model.Message</h2>


